<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
    <h1>Index page</h1>
    <form class="main">
    <%for(student of students) { %>
     
            <div class="box">
<h3>Student Name: <%=student.name  %></h3>
<h3>Student age: <%=student.age  %></h3>
<a href="/students/particular/<%= student.id  %>">View in detail</a>

            </div>
        </hr>
         
       <% } %>
        <a href="/students/revaluation">Want revaluation</a><br><br>
       <a href="/students/revalStudents">Revaluated students</a><br><br>
       <a href="/students/enroll">Enrollment form for new Courses</a><br><br>
       <a href="/students/notEnrolled">Not Enrolled Students</a><br><br><br><br>
 </form>
</body>
</html>