<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rev Success</title>
</head>
<body>
    <h1>Revaluation Success</h1>
    <h2> Dear <%= student.name %> your application for Revaluation is Success</h2>
    <a href="/students">go back to home</a>
</body>
</html>