<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show</title>
</head>
<body>
   <h3>Student Name: <%=student.name  %></h3>
<h3>Student id: <%=student.id  %></h3>
<h3>Student age: <%=student.age  %></h3>
<h3>Student marks: <span id="marks"><%=student.marks  %></span></h3>
<h2 >Grade :<span id="grade"></span> </h2>
    <script src="/grade.js"></script>
   
    <a href="/students" >Go back to home page</a>

</body>

</html>