<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style.css" rel="stylesheet"  />
    <title>Show</title>
</head>
<body>
    <h2>Searched User</h2>
    <div class="box2">
         <h3>user Id  <%= user.id %></h3>
          <h3>username  <%= user.username  %></h3>
           <h3>user mail  <%= user.email %></h3><br><br>
        
        </div>
        <br><br><a href="/data/records">back to Home page</a>
</body>
</html>